@charset "UTF-8";

/* FULL PAGE CENTER */
.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: linear-gradient(135deg, #e3f2fd, #fce4ec);
}

/* MAIN CARD */
.login-container {
  display: flex;
  width: 850px;
  border-radius: 16px;
  overflow: hidden;
  background: white;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
}

/* LEFT SIDE (FORM) */
.login-form {
  flex: 1;
  padding: 40px;
}

.login-form h1 {
  margin-bottom: 25px;
  font-size: 28px;
  align-items: centre;
}

/* INPUT FIELD */
.field {
  display: flex;
  align-items: center;
  background: #f7f7f7;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 15px;
  transition: 0.3s;
}

.field:hover {
  background: #eeeeee;
}

.field i {
  margin-right: 10px;
  color: #777;
}

.field input {
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
}

/* BUTTON */
.btn-login {
  width: 100%;
  padding: 12px;
  border: none;
  background: #441aa0;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-login:hover {
  transform: scale(1.03);
}

/* REGISTER TEXT */
.register-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.register-link a {
  color: #2575fc;
  text-decoration: none;
  font-weight: bold;
}

/* RIGHT SIDE IMAGE */
.login-illustration {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-illustration img {
  width: 100%;
  max-width: 400px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    width: 90%;
  }

  .login-illustration {
    padding: 20px;
  }
}