@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: #1a1a1a;
  background-color: #f4f5f9; /* soft background */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
@media (max-width: 768px) {

  header {
    padding: 15px 20px;
  }

  nav {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background: #cfd3ea;
    padding: 20px;
  }

  nav.open {
    display: block;
  }

  nav ul {
    flex-direction: column;
    gap: 18px;
    align-items: flex-start;
  }

  .footer-top {
    flex-direction: column;
    padding: 20px;
  }
}